/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Body styles */
* {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 16px;
}

.for-employers-wrapper h1, .for-candidates h1, .big-text h1 {
  text-align: left;
}

.for-employers-wrapper p, .for-candidates p, .diversity-long p, .diversity-lead p, .big-text p {
  text-align: left;
}

.for-employers-wrapper span, .for-candidates span {
  text-align: left;
}

.fancy {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

/* Index styles */

.index-lead-text h1 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  padding-left: 100px;
  padding-right: 100px;
}
.index-diversity-lead span {
  text-transform: uppercase;
  color: #42c0B5;
  font-weight: 700;
}

.index-for-candidates {
  border: solid white;
}
.index-for-candidates button {
  font-size: 16px;
  font-weight: 600;
}

.index-diversity-lead p {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px!important;
  line-height: 1.75;
}

.index-diversity-long {
  padding-right: 60px!important;
  font-size: 15px;
}

.newbie-quote {
  padding-top: 75px!important;
  padding-bottom: 75px!important;
}

.newbie-quote h3 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
}
/* For Employers Styles */
.for-employers,
.need-employees,
.we-know,
.fast-and-reliable {
  padding-left: 60px!important;
}

.for-employers-wrapper p {
  font-size: 14px;
}

.for-employers h1 {
  font-size: 1.75rem;
}

.for-employers button {
  font-size: 12px;
  font-weight: 600;
}

/* Footer styles */
footer {
  width: 100%;
  background: #666 ;
}

footer {
  padding: 1.5em;
}

footer ul {
  list-style-type: none;
}

.footer-link {
  text-transform: uppercase;
}

.footer-link > a, .footer-social, .footer-social a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.footer-right-column span {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.form-control {
  background-color: #4D4D4D;
    border-radius: 0px;
    border: none;
}

.form-control::placeholder {

  color: #000;
  text-transform: uppercase;
}

footer .tsg-btn {
  border-color: #fff;
  color: #42C0B5;
}

h1, .newbie-quote h2 {
  color: #1c746c;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}



/* Background styles */

.for-employers, .index-for-candidates, .candidates-resume-reviews, .about-our-story {
  background-color: #cccccc;
}

.need-employees, .fast-and-reliable {
  background-color: #97cec9;
}

.we-know {
  background-color: #86ADA9;
}

.newbie-quote {
  background-color: #42c0b5;
}

.ticker-wrapper {
  background-color: #f9fafc;
  border-bottom-color: #B875C1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.candidates-get-involved, .about-lead-text {
  background-color: #1C746C;
}

/* Padding */
.for-employers,
.need-employees,
.fast-and-reliable,
.we-know,
.index-for-candidates,
.index-diversity-long,
.index-diversity-lead,
.newbie-quote,
.testimonial_para,
.employers-services,
.employers-we-ensure,
.employers-diversity,
.candidates-services,
.candidates-get-involved,
.candidates-our-process,
.candidates-openings,
.candidates-resume-reviews,
.candidates-application-form,
.about-lead-text,
.about-our-story,
.index-lead-text,
.index-what-makes-us-different {
  padding: 1.5em;
}

/* testimonials styles */

.testimonials p {
  font-size: 1rem;
}

.testimonials img {
  border-radius: 50%;
}

.carousel-control-prev {
  position: absolute;
  bottom: 50;
}

.col-sm-2 img {
  display: block;
  margin: 0 auto;
}

.col-sm-10 h4 {
  text-align: center;
}

/* Navbar styles */
.navbar-brand img {
  max-width: 100%;
}

.navbar-brand {
  max-width: 50%;
}

.nav-link {
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  text-transform:uppercase;
}

@media all and (min-width: 36rem) {
.navbar-brand img {
  max-width: 25%;
}
}
/* Custom buttons */
.tsg-btn, .tsg-btn:hover {
  border-width: 3px;
  border-color: #42c0b5;
  border-radius: 0px;
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
}

.index-lead-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 30px;
  font-size: 1.875rem;

}

.team-title-box {
  background-color: #42C0B5;
  color: white;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
}

.bg-light {
  background-color: #e6e6e6!important;
}
