{{ partial "head.html" .}}

  {{ partial "nav.html" . }}

  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
    }
    .about-hero-img,
    .about-lead-text,
    .about-our-story,
    .about-founders-pic,
    .meet-the-team
     {
      grid-column: 1 / -1;
    }

    @media all and (min-width: 36rem) {
      .about-our-story {
        grid-column: 1 / 7;
      }

      .about-founders-pic {
        grid-column: 7 / 13;
      }
    }

    /* The hero image */

    .about-hero-img {
      /* The image used */
      background-image: url("img/about/hero-100.jpg");
      height: 672px;
      /* Position and center the image to scale nicely on all screens */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    /* Place text in the middle of the image */

    .hero-text {
      text-align: left;
      position: absolute;
      top: 85%;
      left: 70%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .hero-text p {
      text-transform: uppercase;
    }


  </style>

<div class="grid">

  <div class="about-hero-img">
      <div class="hero-text">
        <h1 style="color:#42C0B5">ABOUT US</h1>
        <p>We care about the cannabis industry</p>
      </div>
    </div>

  <div class="about-lead-text" style="text-align: center">
    <h1 style="color: #42C0B5">THE FOUNDERS OF THC STAFFING GROUP HAVE OVER 30 COMBINED YEARS OF EXPERIENCE AS ACTIVISTS, CONSULTANTS, AND RECRUITERS FOR THE LEGAL CANNABIS MOVEMENT AND INDUSTRY</h1>
    <button type="button" class="btn btn-primary tsg-btn">MEET THE TEAM</button>
  </div>

  <div class="about-our-story">
    <span class="fancy">who we are</span>
    <h1 style="text-align: left;">Our Story</h1>
    <p>THC Staffing Group is an organization dedicated to closing the gap between America’s rapidly growing cannabis industry and diverse, qualified employment candidates. The organization was founded by best friends and seasoned activists, Shaleen Title
      and Danielle Schumacher, when they combined their dedication to smart drug policy with their desire to foster the development of a fair, robust and legal cannabis industry.</p>
    <p>After meeting as roommates, Shaleen & Danielle realized they shared a similar vision of ending the drug war and legalizing cannabis. They co-founded the University of Illinois chapter of Students for Sensible Drug Policy before going on to serve as
      activists in the industry. After her appointment to the Massachusetts newly formed Cannabis Control Commission, Shaleen Title left THC Staffing Group in 2017. Danielle continues as President & CEO and will continue THC Staffing Group’s mission of
      connecting diverse cross-sections of America’s population with employment opportunities in the industry.</p>
      <button type="button" class="btn btn-primary tsg-btn">Sign up</button>
  </div>

  <div class="about-founders-pic">
    <img src="img/about/our-story-100.jpg" style="width: 100%" />
  </div>

    {{ partial "team.html" . }}

</div>

{{ partial "footer.html" . }}
