{{ partial "head.html" .}}

  {{ partial "nav.html" . }}
<div class="grid">

  <div class="hero-img">
    <img src="img/about/hero-100.jpg" style="width: 100%" />
    </div>

  <div class="big-text">
    <h1>THE FOUNDERS OF THC STAFFING GROUP HAVE OVER 30 COMBINED YEARS OF EXPERIENCE AS ACTIVISTS, CONSULTANTS, AND RECRUITERS FOR THE LEGAL CANNABIS MOVEMENT AND INDUSTRY</h1>
    <button type="button" class="btn btn-primary tsg-btn">MEET THE TEAM</button>
  </div>

  <div class="our-story">
    <span>who we are</span>
    <h1>Our Story</h1>
    <p>THC Staffing Group is an organization dedicated to closing the gap between America’s rapidly growing cannabis industry and diverse, qualified employment candidates. The organization was founded by best friends and seasoned activists, Shaleen Title
      and Danielle Schumacher, when they combined their dedication to smart drug policy with their desire to foster the development of a fair, robust and legal cannabis industry.</p>
    <p>After meeting as roommates, Shaleen & Danielle realized they shared a similar vision of ending the drug war and legalizing cannabis. They co-founded the University of Illinois chapter of Students for Sensible Drug Policy before going on to serve as
      activists in the industry. After her appointment to the Massachusetts newly formed Cannabis Control Commission, Shaleen Title left THC Staffing Group in 2017. Danielle continues as President & CEO and will continue THC Staffing Group’s mission of
      connecting diverse cross-sections of America’s population with employment opportunities in the industry.</p>
  </div>

  <div class="founders-pic">
    Founders picture
  </div>

  {{ partial "team.html" . }} {{ partial "testimonials.html" . }} {{ partial "footer.html" . }}
