{{ partial "head.html" .}}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }
  .about-hero-img,
  .about-lead-text,
  .about-our-story,
  .about-founders-pic,
  .meet-the-team
   {
    grid-column: 1 / -1;
  }

  @media all and (min-width: 82.5rem) {
    .about-our-story {
      grid-column: 1 / 7;
    }

    .about-founders-pic {
      grid-column: 7 / 13;
    }
  }
</style>
</head>
<body lang="en">
  {{ partial "nav.html" . }}

<div class="grid">

  <div class="about-hero-img" data-aos="fade-up">
    <img alt=" " src="img/about/hero-100.jpg" width="100%" />
      <div class="about-hero-text">
        <h1 class="text-light-green text-left" style="font-size: 60px; line-height: .75;">ABOUT US</h1>
        <p>We care about the cannabis industry</p>
      </div>
    </div>

  <div class="about-lead-text" data-aos="fade-up">
    <h1 class="text-light-green">THE FOUNDERS OF THC STAFFING GROUP HAVE OVER 30 COMBINED YEARS OF EXPERIENCE AS ACTIVISTS, CONSULTANTS, AND RECRUITERS FOR THE LEGAL CANNABIS MOVEMENT AND INDUSTRY</h1>
    <a href="/about/#meet-the-team"><button type="button" class="btn btn-primary tsg-btn hvr-sweep-to-right">MEET THE TEAM</button></a>
  </div>

  <div class="about-our-story" data-aos="fade-up" style="padding-bottom: 40px;">
    <span class="fancy">who we are</span>
    <h1 class="text-left">Our Story</h1>
    <p>THC Staffing Group(R) is an organization dedicated to closing the gap between America’s rapidly growing cannabis industry and diverse, qualified employment candidates. The organization was founded by best friends and seasoned activists, Shaleen Title
      and Danielle Schumacher, when they combined their dedication to smart drug policy with their desire to foster the development of a fair, robust and legal cannabis industry.</p>
    <p>After meeting as roommates, Shaleen and Danielle realized they shared a similar vision of ending the drug war and legalizing cannabis. They co-founded the University of Illinois chapter of Students for Sensible Drug Policy before going on to serve as
      activists in the industry. After her appointment to the Massachusetts newly formed Cannabis Control Commission, Shaleen Title left THC Staffing Group in 2017. Danielle continues as President & CEO and will continue THC Staffing Group’s mission of
      connecting diverse cross-sections of America’s population with employment opportunities in the industry.</p>
      <a href="/candidates#submit-resume"><button type="button" class="btn btn-primary tsg-btn hvr-sweep-to-right">Sign up</button></a>
  </div>

  <div class="about-founders-pic" data-aos="fade-up">
    <img alt=" " src="img/about/danielle-shaleen.jpg" style="width: 100%" />
  </div>
    {{ partial "team.html" . }}
</div>

{{ partial "footer.html" . }}
