{{ partial "head.html" . }}
<div class="grid">

  {{ partial "nav.html" . }}

  <div class="hero-img">
    Hero Image
  </div>

  <div class="services">
    <h1>OUR SERVICES</h1>
    <span>Accelerate your Career Path</span>
    <p>We help employers across the cannabis industry, including dispensaries, cannabis cultivation centers, and advocacy organizations, find the right candidates. We also offer staffing services for ancillary businesses and professional fields such as the
      accounting, legal and medical fields specializing in cannabis. The partners behind our firm each have more than a decade of experience working to legalize cannabis and legitimize the growing cannabis industry. Because of our experience and personal
      connections, our clients look to us to provide the right candidates for their growing businesses.</p>
    <p>We are fully dedicated to promoting diversity in the workplace, and we strongly encourage women, people of color, LGBTQ candidates and candidates with disabilities to submit their resumes.</p>
    <button>SEE CURRENT OPENINGS</button>
  </div>

  <div class="big-text">
    <h1>WE ENSURE THAT THE CANDIDATES WE RECOMMEND
ARE THE PERFECT MATCH BY TAKING TIME TO
UNDERSTAND YOUR COMPANY’S CULTURE
AND VALUES</h1>
    <button>How can we help?</button>
  </div>

  <div class="stock-img-1">
    Stock image one
  </div>

  <div class="diversity">
    <h1>Why does diversity matter?</h1>
    <p>Diversity is far more than just a moral issue. It’s a business necessity for any company in the 21st century — especially for cannabis businesses, which face opportunities and challenges unlike any other industry. It’s no secret that the medical and
      legal cannabis industries are highly scrutinized. This scrutiny extends to the diversity of the staff of prospective businesses. Several of the most recent states to create a competitive cannabis dispensary application process have requested information
      about the diversity of the applicants.</p>
    <p>
      We will help you find candidates that are aware of and sensitive to the diversity among your customers and stakeholders. With our help, you can build your brand as one of the rare cannabis businesses to connect across communities.
    </p>
    <p>And most importantly, you will find that by bringing together a team with different backgrounds, your workforce will be well equipped to creatively and effectively handle the unpredictable nature of the cannabis business.</p>
  </div>

  <div class="our-process">
    <h1>OUR PROCESS</h1>
    <p>If you are interested in a career in the cannabis industry, submit your resume and details to us using the form below. If we see an opportunity that might fit your skills and interests, we will contact you for an interview.
    </p>
    <p>Following a successful interview with us, we may need to a background check, depending on the company and location. Past cannabis-related offenses will not automatically disqualify you as a candidate.</p>
    <p>Next, we will check your references. After an interview, background check, and reference check, if your skills, experience and personality are a good fit with a cannabis business, we will introduce you as a match.</p>
  </div>

  <div class="openings">
    <h2>Openings</h2>
    <p>The industry and our client pool are constantly evolving; if you don’t hear from us right away, don’t give up. Our needs are always changing based on what our clients are looking for. Keep an eye on our social media pages for current openings and
      be sure to check our current job listings.</p>
  </div>

  <div class="resume-reviews">
    <span>our services</span>
    <h1>RESUME REVIEWS</h1>
    <p>We offer resume reviews to help you put your best self forward. We’ll help you highlight your skills and expertise most relevant to the cannabis industry, and we’ll prepare you to tailor it for your target position. A resume review costs $100 and
      includes an hour with one of our recruiting professionals going over your resume with you and answering general questions about opportunities in the industry. In order to make the most of our time together, we will ask you to provide some information
      in advance about your experiences and about the types of jobs you are targeting.</p>
    <button>SIGN UP</button>
  </div>

  <div class="resume-picture">
    REsume picture
  </div>

  <div class="application-form">
    Embed crelate form here
  </div>


{{ partial "footer.html" . }}
</div>
<!-- End footer -->
