<!-- Probably change to head, lol -->
{{ partial "header.html" .}}
<!-- Begin nav bar -->
{{ partial "nav.html" .}}
<!-- End nav bar -->
<!-- Begin page content -->
<!-- 1 column row - Employers hero image -->
<!-- 1 column row - Our services -->
<!-- 1 column row - How can we help -->
<!-- 1 column row - image -->
<!-- 1 column row - why does divesity matter? -->
{{ partial "for-employers.html" . }}
{{ partial "testimonials.html" . }}
<!-- End page content -->
<!-- Begin footer -->
{{ partial "footer.html" . }}
<!-- End footer -->
