
{{ partial "head.html" . }}

<div class="grid">

{{ partial "nav.html" . }}

  <div class="hero-img-1">
    Hero Image One
  </div>

  <div class="hero-img-2">
    Hero Image Two
  </div>

  <div class="big-text">
    <h1>The Revolution is Hiring</h1>
    <p>THC Staffing Group is a boutique recruitment firm dedicated to serving the cannabis industry. Save time advertising, recruiting and sifting through applications — we’ll find you the candidate with the right skills from our large and diverse pool of
      qualified applicants. As our reputations demonstrate, we care about this industry; we want you to be successful.</p>
  </div>

{{ partial "for-employers.html" . }}

  <div class="stock-img-1">
    Stock Image One
  </div>

  <div class="for-candidates">
    <span>looking for a new career?</span>
    <h1>FOR CANDIDATES</h1>
    <p>Would you like to work in one of the fastest growing, most exciting new industries in America? When top cannabis companies need their next rock star, they turn to us. If our clients are looking for someone like you, we can help you get your start.
      Or if you’re already involved in the industry, we can accelerate your career path. When we see an opportunity that might fit your skills and interests, we will contact you for an interview.</p>
  </div>

  <div class="stock-img-2">
    Stock Image Two
  </div>

  <div class="diversity-lead">
    <h1>FOCUSED ON DIVERSITY & INCLUSION</h1>
    <p>Through our access to a deep pool of qualified and highly diverse candidates, we maintain a professional commitment to the continued successful growth of the American cannabis industry. We focus solely on the cannabis industry, including dispensaries,
      cultivation centers, ancillary businesses or nonprofit organizations focused on drug policy.</p>
  </div>

  <div class="diversity-long">
    With our long-standing, excellent reputations in the cannabis industry and movement, we offer a unique and necessary service to employers. Through our access to a deep pool of qualified and highly diverse candidates, we maintain a professional commitment
    to the continued successful growth of the American cannabis indus- try. While there are thousands of general, cross-indus- try recruitment companies, THC Staffing Group focuses solely on the cannabis industry, including dispensaries, cultivation centers,
    ancillary businesses or nonprofit organizations focused on drug policy. During their 15+ years working in this field, we have both mentored numerous people and helped match them with companies that were looking to hire. As the cannabis industry has
    matured, we have witnessed the growing need for this type of service.
  </div>

  <div class="big-text">
    <h2>“EMPLOYING AND PROMOTING WOMEN AND PEOPLE OF COLOR IS THE BEST WAY TO BUILD A SUCCESSFUL AND SUSTAINABLE CANNABIS BUSINESS.”</h2>
    <h3>THE NEWBIE’S GUIDE TO CANNABIS & INDUSTRY</h3>
  </div>

  <div class="big-text">
    <h1>WHAT MAKES US DIFFERENT</h1>
    <p>With our long-standing, excellent reputations in the cannabis industry and movement, we offer a unique and necessary service to employers. Through our access to a deep pool of qualified and highly diverse candidates, we maintain a professional commitment
      to the continued successful growth of the American cannabis industry.</p>
    <p>While there are thousands of general, cross-industry recruitment companies, THC Staffing Group focuses solely on the cannabis industry, including dispensaries, cultivation centers, ancillary businesses or nonprofit organizations focused on drug policy.</p>
    <p>During our 15+ years working in this field, we have both mentored numerous people and helped match them with companies that were looking to hire. As the cannabis industry has matured, we have witnessed the growing need for this type of service.</p>
  </div>

  <div class="ticker-1">
    Ticker 1
  </div>

  <div class="ticker-2">
    Ticker 2
  </div>

  <div class="ticker-3">
    Ticker 3
  </div>

  <div class="ticker-4">
    Ticker 4
  </div>

  <div class="instagram">
    INSTAGRAM WIDGET
  </div>

  <div class="testimonials">
    Testimonials go here
  </div>

{{ partial "footer.html" . }}
