{{ partial "head.html" . }}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .index-what-makes-us-different,
  .index-diversity-lead,
  .index-diversity-long,
  .index-instagram,
  .index-lead-text,
  .index-hero-img-1,
  .index-hero-img-2,
  .newbie-quote,
  .ticker-wrapper,
  .index-for-candidates,
  .index-for-candidates-img,
  .index-diversity-img,
  .index-hero-img-1-container,
  .index-hero-img-2-container {
    grid-column: 1 / -1;
  }

  .ticker-1 {
    grid-column: 3 / 5;
  }

  .ticker-2 {
    grid-column: 5 / 7;
  }

  .ticker-3 {
    grid-column: 7 / 9;
  }

  .ticker-4 {
    grid-column: 9 / 11;
  }

  @media all and (min-width: 36rem) {

    .index-hero-img-1 {
      grid-column: 1 / 7;
    }

    .index-hero-img-2 {
      grid-column: 7 / -1;
    }

    .index-hero-img-1-container {
      grid-column: 1 /7;
    }

    .index-hero-img-2-container {
      grid-column: 7 / -1;
    }

    .index-diversity-lead {
      grid-column: 1 / 7;
    }

    .index-diversity-long {
      grid-column: 7 / 13;
    }
  }

  @media all and (min-width: 75rem) {

    .index-for-candidates-img {
      grid-column: 1 / 9;
    }

    .index-for-candidates {
      grid-column: 9 / 13;
    }
  }
</style>
</head>
<body lang="en">

{{ partial "nav.html" . }}

<div class="grid">
  <div class="index-hero-img-1-container" data-aos="fade-up">
    <img alt=" " src="img/home/Recruiting.jpg" width="100%">
    <div class="index-hero-text">
      <h1 class="text-white">Employers</h1>
      <p>We recruit staff at all levels. Tell us about the position you are looking to fill.</p>
      <a href="/employer-form"><button class="index-hero-btn hvr-sweep-to-right p-2" style="font-weight:700"><div class="index-hero-button-text">TELL US WHAT YOU NEED</div></button></a>
    </div>
  </div>

  <div class="index-hero-img-2-container" data-aos="fade-up">
    <img alt=" " src="img/home/Staffers.jpg" width="100%">
    <div class="index-hero-text">
      <h1 class="text-white">Candidates</h1>
      <p>Work in one of the fastest growing, new industries. Tell us about yourself and the career you want.</p>
      <a href="/candidates/#submit-resume"><button class="hvr-sweep-to-right index-hero-btn p-2" style="font-weight:700"><div class="index-hero-button-text">Submit your resume</div></button></a>
    </div>
  </div>
  <div class="index-lead-text" data-aos="fade-up">
    <h1>The Revolution is Hiring</h1>
    <p>THC Staffing Group is a boutique recruitment firm dedicated to serving the cannabis industry. Save time advertising, recruiting and sifting through applications — we’ll find you the candidate with the right skills from our large and diverse
      pool of
      qualified applicants. As our reputations demonstrate, we care about this industry; we want you to be successful.</p>
  </div>

  {{ partial "for-employers.html" . }}

  <div class="index-for-candidates-img hero-img-3-container" data-aos="fade-up">
    <img alt=" " src="img/home/for-candidates.jpg" width="100%">
  </div>

  <div class="index-for-candidates" data-aos="fade-up">
    <span class="fancy">looking for a new career?</span>
    <h1 class="text-left">FOR CANDIDATES</h1>
    <p class="p-1">Would you like to work in one of the fastest growing, most exciting new industries in America? When top cannabis companies need their next rock star, they turn to us. If our clients are looking for someone like you, we can help you get your
      start.
      Or if you’re already involved in the industry, we can accelerate your career path. When we see an opportunity that might fit your skills and interests, we will contact you for an interview.</p>
    <a href="/candidates#submit-resume"><button type="button" class="hvr-sweep-to-right btn btn-primary tsg-btn">Find a career</button></a>
  </div>

  <div class="index-diversity-img hero-img-3-container" data-aos="fade-up">
    <img alt=" " src="img/banner-1.jpg" width="100%" />
  </div>
  <div class="index-diversity-lead" data-aos="fade-up">
    <h1 class="text-left" style="font-size: 36px; padding-left: 10%;">FOCUSED ON DIVERSITY & INCLUSION</h1>
    <p style="padding-left: 10%">Through our access to a deep pool of qualified and highly diverse candidates, we maintain a professional commitment to the continued successful growth of the American cannabis industry. We focus solely on the cannabis industry, including
      dispensaries,
      cultivation centers, ancillary businesses or nonprofit organizations focused on drug policy.</p>
    <span style="padding-left:10%"><a href="/about">Learn more about us ></a></span>
  </div>

  <div class="index-diversity-long" data-aos="fade-up">
    <p style="padding-left: 10%">With our long-standing, excellent reputations in the cannabis industry and movement, we offer a unique and necessary service to employers. Through our access to a deep pool of qualified and highly diverse candidates, we maintain a
      professional commitment
      to the continued successful growth of the American cannabis industry. While there are thousands of general, cross-industry recruitment companies, THC Staffing Group focuses solely on the cannabis industry, including dispensaries,
      cultivation
      centers, ancillary businesses or nonprofit organizations focused on drug policy.</p>
    <p style="padding-left: 10%">During their 15+ years working in this field, we have both mentored numerous people and helped match them with companies that were looking to hire. As the cannabis industry has matured, we have witnessed the growing need for this type of
      service.</p>
  </div>

  <div class="newbie-quote" data-aos="fade-up">
    <h1 style="color: white; font-weight:700; font-size: 36px">“EMPLOYING AND PROMOTING WOMEN AND PEOPLE OF COLOR IS THE BEST WAY TO BUILD A SUCCESSFUL AND SUSTAINABLE CANNABIS BUSINESS.”</h1>
    <br>
    <h1 class="text-white text-center" style="font-size:13px;  letter-spacing: 2px;">DANIELLE SCHUMACHER | THE NEWBIE’S GUIDE TO CANNABIS & INDUSTRY</h1>
  </div>

  <div class="index-what-makes-us-different" data-aos="fade-up">
    <h1 class="text-left">WHAT MAKES US DIFFERENT</h1>
    <p>With our long-standing, excellent reputations in the cannabis industry and movement, we offer a unique and necessary service to employers. Through our access to a deep pool of qualified and highly diverse candidates, we maintain a
      professional commitment
      to the continued successful growth of the American cannabis industry.</p>
    <p>While there are thousands of general, cross-industry recruitment companies, THC Staffing Group focuses solely on the cannabis industry, including dispensaries, cultivation centers, ancillary businesses or nonprofit organizations focused on
      drug policy.</p>
    <p>During our 15+ years working in this field, we have both mentored numerous people and helped match them with companies that were looking to hire. As the cannabis industry has matured, we have witnessed the growing need for this type of
      service.</p>
  </div>

  <div class="ticker-wrapper" data-aos="fade-up">
    <div class="row" style="margin: 0 auto; padding-top: 25px;">
      <div class="col-sm-3 p-3">
          <img alt=" " src="/img/home/mmj.svg" style="display: block; margin: 0 auto; width: 100%" />
        <div class="mk-milestone">
          <div class="milestone-top">
            <div class="counter" data-count="45">0</div>
            <div style="color:#323232;font-size:10px" class="milestone-text">MEDICAL CANNABIS STATES</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-3" >
          <img alt=" " src="/img/home/recstates.svg" style="display: block; margin: 0 auto; width: 100%" />
        <div class="mk-milestone">
          <div class="milestone-top">
            <div class="counter" data-count="9">0</div>
            <div style="color:#323232;font-size:10px" class="milestone-text">LEGAL CANNABIS STATES</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-3">
          <img alt=" " src="/img/home/recruiters.svg" style="display: block; margin: 0 auto; width:100%;" />
        <div class="mk-milestone">
          <div class="milestone-top">
            <div class="counter" data-count="5">0</div>
            <div style="color:#323232;font-size:10px" class="milestone-text">HAPPY RECRUITERS</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-3">
          <img alt=" " src="/img/home/coffee.svg" style="display: block; margin: 0 auto; width: 100%;"/>
        <div class="mk-milestone">
          <i></i>
          <div class="milestone-top">
            <div class="counter" data-count="964">0</div>
            <div style="color:#323232;font-size:10px" class="milestone-text">CUPS OF COFFEE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="index-instagram" data-aos="fade-up">
<div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'m2HB441g89L2DdBU5rYz'});Pixlee.addSimpleWidget({widgetId:'10654'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
</div>
</div>

{{ partial "testimonials.html" . }} {{ partial "footer.html" . }}

<script src="/js/full-jquery.js"></script>
<script src="/js/milestone.js"></script>
