<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .footer-left-column {
    grid-column: 1 / 5;
  }

  .footer-middle-column {
    grid-column: 5 / 9
  }

  .footer-right-column {
    grid-column: 9 / 13
  }
</style>
<footer class="footer grid">
  <!-- Big and gray with non-discrimination policy -->
  <!-- Copyright -->
  <div class="footer-left-column">
    <ul>
      <li class="footer-link"><a href=" ">Employers</a></li>
      <li class="footer-link"><a href=" ">Candidates</a></li>
      <li class="footer-link"><a href=" ">About</a></li>
      <li class="footer-link"><a href=" ">Resources</a></li>
      <li class="footer-link"><a href=" ">Updates</a></li>
      <li class="footer-link"><a href=" " style="color:#000">*SEE OUR NON-DISCRIMINATION POLICY</a></li>

    </ul>
    <h6>
    </h6>
  </div>

  <div class="footer-middle-column">
    <ul>
      <span class="footer-social">Follow us on social media</span>
      <li class="footer-social"><a href=" "><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li class="footer-social"><a href=" "><i class="fab fa-instagram"></i> Instagram</a></li>
      <li class="footer-social"><a href=" "><i class="fab fa-twitter"></i> Twitter</a></li>
      <li class="footer-social"><a href=" "><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
  </div>

  <div class="footer-right-column">
    <span>Sign up for our newsletter</span>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name, last name">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email addressS">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- Footer -->
</footer>
<!-- Bootstrap reqs -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Local Bootstrap JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>

</html>
