<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .footer-left-column,
  .footer-middle-column,
  .footer-right-column {
    grid-column: 1 / -1;
  }
    @media all and (min-width: 36rem) {
  .footer-left-column {
    grid-column: 1 / 5;
  }

  .footer-middle-column {
    grid-column: 5 / 9
  }

  .footer-right-column {
    grid-column: 9 / 13
  }
}
</style>
<footer class="footer grid">
  <!-- Big and gray with non-discrimination policy -->
  <!-- Copyright -->
  <div class="footer-left-column">
    <ul style="padding-left:0px">
      <li class="footer-link custom-underline"><a href="/employers">Employers</a></li>
      <li class="footer-link custom-underline"><a href="/candidates">Candidates</a></li>
      <li class="footer-link custom-underline"><a href="/about">About</a></li>
      <li class="footer-link custom-underline"><a href="/non-discrimination-policy" style="color:#000">*SEE OUR NON-DISCRIMINATION POLICY</a></li>
      <li class="footer-link text-white custom-underline">© THC Staffing Group, LLP. All rights reserved</li>
    </ul>
    <h6>
    </h6>
  </div>

  <div class="footer-middle-column">
    <ul style="padding-left:0px">
      <li class="footer-social custom-underline"><a href="https://www.facebook.coma/THCStaffing/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li class="footer-social custom-underline"><a href="https://www.instagram.com/thcstaffing/"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li class="footer-social custom-underline"><a href="https://twitter.com/thcstaffing"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li class="footer-social custom-underline"><a href="https://www.linkedin.com/company/thc-staffing-group/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
  </div>

  <div class="footer-right-column">
    <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="https://thcstaffinggroup.us15.list-manage.com/subscribe/post?u=7611b5f602627c6d75863c998&amp;id=011f6c715c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	<label for="mce-EMAIL" class="text-white">Subscribe to our mailing list</label>
  	<input type="email" value="" name="EMAIL" class="email form-control mb-1" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <label for="hidden-field">Hidden field - do not fill</label>
        <input id="hidden-field" type="text" name="b_7611b5f602627c6d75863c998_011f6c715c" tabindex="-1" value="" >
      </div>
      <br>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary tsg-btn hvr-sweep-to-right" style="font-size: 14px;"></div>
      </div>
  </form>
  </div>

  <!--End mc_embed_signup-->
  </div>
  <!-- Footer -->
</footer>
<!-- Animate on Scroll JS -->
<script src="js/aos.js"></script>
<!-- Bootstrap reqs -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Local Bootstrap JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>
