<!--  4 column row -->
<style>
  .for-employers {
    grid-column: 1 / -1;
  }

  .for-employers-wrapper {
    grid-column: 1 / -1;
  }

  @media all and (min-width: 700px) {
    .for-employers {
      grid-column: 1 / 7;
    }
  }
</style>
<div class="for-employers-wrapper">
  <div class="for-employers">
    <span class="fancy">quality staffing</span>
    <h1>FOR EMPLOYERS</h1>
    <p>
      We recruit staff at all levels, from entry-level to executive and management level to board members, and we help a wide range of businesses in the industry: cannabis dispensaries and stores, cultivation centers, ancillary businesses that serve the cannabis
      industry, and nonprofit organizations focused on drug policy. We’ll use our network, developed with more than a decade in the industry, to find you the right candidate.
    </p>
    <button type="button" class="btn btn-primary tsg-btn">Fill a position</button>
  </div>

  <div class="need-employees">
    <span><strong>WHAT WE DO BEST</strong></span>
    <p>We connect you with candidates who are loyal and ethical; who want to be part of sustainable and socially-responsible organiza- tions. Many people we've placed have grown into more specialized roles and are contributing to the industry's progress
      at-large.</p>
  </div>

  <div class="we-know">
    <span><strong>WE KNOW PEOPLE</strong></span>
    <p>With our long-standing, excellent reputations in the marijuana industry and movement, we know the best people to fit your needs. Let us help you in your search.</p>
  </div>

  <div class="fast-and-reliable">
    <span><strong>FAST AND RELIABLE SERVICE</strong></span>
    <p>We connect you with candidates who are loyal and ethical; who want to be part of sustainable and socially-responsible organiza- tions. Many people we've placed have grown into more specialized roles and are contributing to the industry's progress
      at-large</p>
  </div>
</div>
