<!-- Probably need a bit fancier JavaScript in this partial -->

<!-- 1 column row with Meet the team -->
<!-- 2 column row - image and bio -->
<!-- carousel with headshots -->

<div class="meet-the-team container">
  <div class="team-header row">
    <div class="col">
      <h1>Meet the team</h1>
      <div>we're pretty cool</div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-hero-img">
          <img src="img/about/danielle-100.jpg" style="width: 100%" />
        </div>
      </div>
      <div class="col-sm-6">
        <p>Danielle Schumacher is a seasoned activist with experience running cannabis businesses across the country. As the first chancellor of Oaksterdam University, Danielle worked with Richard Lee to establish America’s first cannabis college during
          which she developed the curriculum and recruited, trained, and supervised instructors. She coordinated extensive major media coverage and has been quoted by various media outlets including Fox News, CNBC, and San Francisco Chronicle. Her favorite
          part of the experience was advising graduates and helping people to start new careers they love</p>
        <p>Originally from the Chicago area, Danielle was recruited by the Berkeley Patients Group in 2005 to head the Cannabis Action Network (CAN), a national coalition to fight for the right of adults to access and responsibly use cannabis. Danielle has
          served as office manager for internationally-respected authority on cannabis Chris Conrad and activist author Mikki Norris, and she currently serves as office manager for noted physician Frank Lucido MD and nurse practitioner, Maria Mangini
          PhD FNP.</p>
        <p>Before being recruited to California, Danielle was Executive Director of Illinois NORML and held the Youth Seat on the National NORML Board of Directors. She was named Freedom Fighter by High Times Magazine at age 22. Danielle co-founded University
          of Illinois chapters of the National Organization for the Reform of Marijuana Laws and Students for Sensible Drug Policy in 2001. She earned a degree in anthropology in 2004, graduating with highest distinction and earning the Patricia O’Brien
          Award for Outstanding Senior Thesis.</p>
        <p>As an event planner, Danielle has planned dozens of memorable events including Ed Rosenthal’s Second Wonders of Cannabis Festival in Golden Gate Park and Frank Lucido and Maria Mangini’s annual Open House and Garden Party in Berkeley. She has
          also facilitated countless meetings and workshops, including legal workshops for Americans for Safe Access since 2006.</p>
        <p>Danielle serves as the current President & CEO of THC Staffing Group and continues her mission of perpetuating equity in the legal cannabis industry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img src="img/about/tiffany-100.jpg" style="width:100%" />
      </div>
      <div class="col-2">
        <img src="img/about/asset-22-100.jpg" style="width:100%" />
      </div>
      <div class="col-2">
        <img src="img/about/asset-22-100.jpg" style="width:100%" />
      </div>
      <div class="col-2">
        <img src="img/about/asset-20-100.jpg" style="width:100%" />
      </div>
      <div class="col-2">
        <img src="img/about/shaleen-100.jpg" style="width:100%" />

      </div>
  </div>
</div>
