<!-- Probably change to head, lol -->
{{ partial "header.html" . }}
<!-- Begin nav bar -->
{{ partial "nav.html" . }}
<!-- End nav bar -->
<!-- Begin page content -->
<div class = "container">
  <!-- Hero image row -->
  <div class = "row">
    <div class = "col">
      <!-- Left hero image - Staffers -->
    </div>
    <div class = "col">
      <!-- Right hero image - Recruiting -->
  </div>
</div>
<!-- 1 column row - The Revolution is Hiring -->
{{ partial "for-employers.html" . }}
<!-- 2 column row - For Candidates -->
<!-- 1 column row - image -->
<!-- 2 column row - Diversity and Inclusion -->
<!-- 1 column row - quote -->
<!-- 1 column row - what makes us different -->
<!-- tickers -->
<!-- hr -->
<!-- Follow us on instagram -->
{{ partial "testimonials.html" . }}
<!-- End page content -->
<!-- Begin footer -->
{{ partial "footer.html" . }}
<!-- End footer -->
